In [4]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for schools in high_schools:
    print(schools)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [20]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for schools in high_school_types:
   print(schools)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [21]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [23]:
# Add the Pandas dependency.
import pandas as pd

In [28]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [27]:
for schools in school_series:
    print(schools)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [30]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [31]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [32]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [34]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [36]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

schools_df["School Name"] = school_name

schools_df["Type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [52]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school name':school_name, 'type':type_of_school}

In [53]:
school_df = pd.DataFrame(high_schools_dict)

In [54]:
school_df

   School ID            school name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [56]:
school_df.columns

Index(['School ID', 'school name', 'type'], dtype='object')

In [57]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [58]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [59]:
#skill drill p_ stands for practice
p_school_id = [0, 1, 2, 3, 4, 5]
p_school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School"]
p_school_type = ["District", "District", "Charter", "District", "Charter", "Charter"]

In [60]:
#First create the dataframe
p_school_df = pd.DataFrame()

In [61]:
# Assign each dataframe column to each list name
#dataframe["df_column_name"] = listname

p_school_df["school_id"] = p_school_id
p_school_df["school_name"] = p_school_name
p_school_df["school_type"] = p_school_type
p_school_df

   school_id            school_name school_type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter
5          5     Wilson High School     Charter

In [75]:
#First create a dictionary from the three lists using the list names
# dictionaryname = {"keyname: listname", keyname2 : listname2,...}
p_school_listtodict = {"schools_id" : p_school_id, "schools_name" : p_school_name, "schools_type" : p_school_type}

In [76]:
#Create a dataframe to hold that dictionary
#dfname = pd.DataFrame(dictionary_name)
p_school_df = pd.DataFrame(p_school_listtodict)

In [77]:
p_school_df

   schools_id           schools_name schools_type
0           0      Huang High School     District
1           1   Figueroa High School     District
2           2    Shelton High School      Charter
3           3  Hernandez High School     District
4           4    Griffin High School      Charter
5           5     Wilson High School      Charter